//font styles
$font-style: 'Rubik';
$font-small: 14px;
$font-title-small:16px;
$font-base: 18px;
$font-title: 48px;
$font-regular: 300;
$font-bold: 500;

//colors

$dark-gray: #2F2F2F;
$middle-gray:#7E7E7E;
$golden-yellow:#FADC4D;
$white:#FFFFFF;
$silver: #A0A0A1;
$shade-gary:#909090;
$lightness-silver:#F0EEEE;
$cold-blue: #94A3B8;
$dark-blue:#1E293B;
$rich-black:#191919;

