@use '_variables' as *;

.header {
  width: 100%;
  padding: 10px 10px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1510px;
    margin: 0 auto;
  }

  &__logo {
    width: 100px;
    height: 100px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 100%;

    &--nav {
      display: flex;
      margin-left: 25px;
    }
    &--item {
      position: relative;
      width: 130px;
      text-align: center;

      a {
        font-size: 24px;
        font-weight: $font-regular;
        text-transform: uppercase;
        cursor: pointer;
        transition: font-weight .3s ease;
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: $golden-yellow;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      &:hover {
        >a {
          font-weight: $font-bold;
        }
        &::after {
          transform: scaleX(1);
        }
      }
    }

    &--submenu {
      position: absolute;
      min-width: 340px;
      top: 190%;
      left: 0;
      border-radius: 16px;
      padding-bottom: 20px;
      background-color: $white;
      z-index: 10;

      &-nav {
        position: relative;

        li {
          width: 100%;
          text-align: left;
          padding: 0 25px;
          margin-bottom: 10px;

          a {
            font-size: 24px;
            font-weight: $font-regular;
            text-transform: uppercase;
            cursor: pointer;
            transition: font-weight .3s ease;
            white-space: nowrap;
          }
        }


      }
    }
  }

  &__search {
    &-form {
      width: 120px;
    }

    &-input {
      max-width: 100%;
      height: 24px;
      padding-left: 5px;
      border: 1px solid $lightness-silver;
      border-radius: 10px;
      outline: none;

      &::placeholder {
        font-size: $font-small;
        color: $cold-blue;
      }
    }
  }
}
